.day 
{ 
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

.meal
{
  display: inline;
}

.line
{
  /*padding-bottom: 10px;*/
}

.filter
{
  margin-top: 20px;
  margin-bottom: 20px;
}

.settings
{
  margin-bottom: 20px;
}
.no-day-option
{
  margin-bottom: 30px;
}

form
{
  display: inline;
}

form li
{
  list-style-type: none;
}

form label,input,p
{
  display: block;
}

form .no-button
{
  border: none;
  background: transparent;
  color: #337ab7;
}

form input[type='submit']
{
  margin-top: 10px;
}

form input[type='checkbox']
{
  display: inline;
}

ul.form li input,textarea,select
{
   margin-bottom: 15px;
}

.mealTypeDiv
{
  display: inline;
}

.details
{
  margin-left: 15px;
}

.button-group
{
  margin-bottom: 15px;
}

/* NOT MINE   */

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


